@{
    ViewBag.Title = "Contacto";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Contáctanos</h2>
            <p class="lead">Estamos aquí para ayudarte. ¡No dudes en ponerte en contacto con nosotros!</p>

            <!-- Formulario de Contacto -->
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Tu Nombre">
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="email" placeholder="tucorreo@ejemplo.com">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea class="form-control" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Información de Contacto</h3>
            <p><strong>Dirección:</strong> Gladis M. Tour 1728</p>
            <p><strong>Teléfono:</strong> +54 9 2954 32-0028</p>
            <p><strong>Correo Electrónico:</strong> <a href="mailto:ParrilaDonTulio@gmail.com">ParrilaDonTulio@gmail.com</a></p>
            <p><strong>Horario de Atención:</strong> Lunes a Viernes: 10:00 AM - 12:00 PM, Sábados y Domingos: 11:00 AM - 3:00 PM</p>
        </div>
    </div>
</div>
